{% extends 'TDApp/base.html' %}

{% block title %}<h3>HOME</h3>{% endblock title%}


{% block content %}
        <p>
            <a href="{% url "add" %}" class='add'>Add a task</a>
        </p>

    <div role='alert'>
        {% for message in messages %}
            <button class='close' data-dismiss='alert'>
                <small><sup>x</sup></small>
            </button>       
                {{ message }}
        {% endfor %}
    </div>
        {% for task in tasks %}
            {% if task.completed %}
                <table>
                    <tr class='completed'>
                        <td>{{ task.task }}</td>
                        <td class="cmplt"><a href="{% url 'uncross' task.id %}">Completed</a></td>
                        <td><a href="{% url 'delete' task.id %}">Delete</a></td>
                    </tr>
                </table>
            
            {% else %}
                    <table>
                    <tr class='uncompleted'>
                        <td>{{ task.task }}</td>
                        <td class="cmplt"><a href="{% url 'cross_off' task.id %}">Uncompleted</a></td> 
                        <td><a href="{% url 'delete' task.id %}">Delete</a></td>
                    </tr>
                </table>
            {% endif %}   
        {% endfor %} 
    
    
{% endblock content %}